<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spongzi.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.spongzi.domain.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="CHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="keywords" column="keywords" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="CHAR"/>
            <result property="click" column="click" jdbcType="INTEGER"/>
            <result property="cid" column="cid" jdbcType="TINYINT"/>
            <result property="isShow" column="is_show" jdbcType="TINYINT"/>
            <result property="isTop" column="is_top" jdbcType="TINYINT"/>
            <result property="isOriginal" column="is_original" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,author,
        author_id,content,keywords,
        description,click,cid,
        is_show,is_top,is_original,
        create_time,update_time,is_deleted
    </sql>
</mapper>
